{% extends 'base.html.twig' %}
{% block body %}
  <h1>¡Toda la información de tu personaje favorito!</h1>
 <div class="pj-ctn boxed">
    {% for personaje in personajes %}
        <a class="link-raza" href="{{ path('app_personaje_local_show', {'id': personaje.id}) }}">
            <article id="pj">
                <div class="pj-ctn-img">
                    <img class="pj-img" src="{{ asset(personaje.image) }}" alt="pj-img">
                </div>
                <div class="pj-footer">
                    <div class="pj-title">
                        <h2>{{ personaje.name }}</h2>
                        <p>{{ personaje.race }} - {{ personaje.gender }}</p>
                    </div>
                    <div>
                        <div>
                            <p class="pj-text">Base KI:</p>
                            <span>{{ personaje.ki }}</span>
                        </div>
                        <div>
                            <p class="pj-text">Total KI:</p>
                            <span>{{ personaje.maxKi }}</span>
                        </div>
                        <div>
                            <p class="pj-text">Afilliation:</p>
                            <span>{{ personaje.affiliation }}</span>
                        </div>
                    </div>
                </div>
            </article>
        </a>
        {% else %}
        <p class="info"> No hay registros disponibles </p>
    {% endfor %}
    </div>
    {# <section class="paginacion">
        <ul>
            <li><a href="" class="activa">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
        </ul>
    </section> #}
{% endblock %}

