{% extends 'base.html.twig' %}

{% block body %}
    <div class="body-ctn">
      <div class="slider-ctn">
      <button class="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
        </svg>
      </button>
        <div class="slider-img"></div>
      <button class="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
        </svg>
      </button>
      </div>
    </div>
    <div class="pj-ctn boxed">
    {% for personaje in personajes %}
        <article id="pj">
            <div class="pj-ctn-img">
                <img class="pj-img" src="{{ asset(personaje.image) }}" alt="pj-img">
            </div>
            <div class="pj-footer">
                <div class="pj-title">
                    <h2>{{ personaje.name }}</h2>
                    <p>{{ personaje.race }} - {{ personaje.gender }}</p>
                </div>
                <div>
                    <div>
                        <p>Base KI:</p>
                        <span>{{ personaje.ki }}</span>
                    </div>
                    <div>
                        <p>Total KI:</p>
                        <span>{{ personaje.maxKi }}</span>
                    </div>
                    <div>
                        <p>Afilliation:</p>
                        <span>{{ personaje.affiliation }}</span>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
    </div>
    <section class="paginacion">
        <ul>
            <li><a href="" class="activa">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
        </ul>
    </section>
{% endblock %}
