<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DRAGONBALL4U!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <link rel="shortcut icon" type="image/svg+xml" href="{{ asset('favicon-dbz.png') }}">
    </head>
    <body>
       {% block header %}
            <header>
                <div class="main-header">
                    <a href="{{ path('app_home') }}">
                        <img class="header-icon" src="{{ asset('img/android-icon-192x192.webp') }}" alt="header-icon"/>
                    </a>
                    <nav>
                        <ul>
                            <li><a class="nav-link" href="{{ path('app_home') }}">Home</a></li>
                            <li><a class="nav-link" href="{{ path('app_personajes') }}">Personajes</a></li>
                            <li><a class="nav-link" href="{{ path('app_razas') }}">Razas</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer>
                <p>© Todos los derechos reservados</p>
            </footer>
        {% endblock %}
    </body>
</html>
