{% extends 'base.html.twig' %}

{% block title %}Planetas{% endblock %}

{% block body %}
  <h1>Planetas</h1>
            <table class="pj-ctn boxed">
                <ul>
                {% for planeta in planetas %}
                    <li>
                        <img class="planet-img" src="{{ asset(planeta.image) }}" alt="pj-img">
                        <h2>{{ planeta.name }}</h2>
                        <p class="pj-text">Destruido:</p>
                        <span>{{ planeta.isDestroyed ? 'Yes' : 'No' }}</span>
                        <p class="pj-text">Descripción:</p>
                        <span>{{ planeta.description }}</span>
                    </li>
                    {% else %}
                    <p class="info"> No hay registros disponibles </p>
                {% endfor %}
                </ul>
            {# <article id="planet">
                <div class="pj-ctn-img">
                    <img class="pj-img" src="{{ asset(planeta.image) }}" alt="pj-img">
                </div>
                <div class="pj-footer">
                    <div class="pj-title">
                        <h2>{{ planeta.name }}</h2>
                    </div>
                    <div>
                        <div>
                            <p class="pj-text">Destruido:</p>
                            <span>{{ planeta.isDestroyed ? 'Yes' : 'No' }}</span>
                        </div>
                        <div>
                            <p class="pj-text">Descripción:</p>
                            <span>{{ planeta.description }}</span>
                        </div>
                    </div>
                </div>
            </article> #}
            </table>
    {# <section class="paginacion">
        <ul>
            <li><a href="" class="activa">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href="">5</a></li>
        </ul>
    </section> #}
{% endblock %}

